/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #20222c !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c7c7ca; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c7c7ca; background-color: rgba(150,178,217,0.4)}
.cm-s-nqqwal { background-color: #20222c; color: #c7c7ca; }
.cm-s-nqqwal span.cm-builtin { color: #DFA8AE; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #66697c; }
.cm-s-nqqwal span.cm-keyword { color: #B8D1B5; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #E3CCB5; }
.cm-s-nqqwal span.cm-def { color: #90AED4; }
.cm-s-nqqwal span.cm-variable { color: #96B2D9; }
.cm-s-nqqwal span.cm-variable-2 { color: #90AED4; }
.cm-s-nqqwal span.cm-string { color: #DFA8AE; }
.cm-s-nqqwal span.cm-string-2 { color: #DFA8AE; }
.cm-s-nqqwal span.cm-number { color: #90AED4; }
.cm-s-nqqwal span.cm-tag { color: #B8D1B5; }
.cm-s-nqqwal span.cm-property { color: #96B2D9; }
.cm-s-nqqwal span.cm-attribute { color: #96B2D9; }
.cm-s-nqqwal span.cm-qualifier { color: #E3CCB5; }
.cm-s-nqqwal span.cm-meta { color: #90AED4; }
.cm-s-nqqwal span.cm-header { color: #B8D1B5; }
.cm-s-nqqwal span.cm-operator { color: #B8D1B5; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(144,174,212,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #B8D1B5; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #20222c); }
